<a href="https://colab.research.google.com/github/VindaShinde/R-Projects/blob/main/Stats_Practice_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# P-value for type 1 error

• A manufacturer of cereal wants to test the
performance of one of its filling machines
• The machine is designed to discharge a
mean amount of µ = 12 ounces per box
• The manufacturer wants to detect any
departure from this setting
• Suppose the sample yields the following
results 

1.   n = 100 observations (boxes) 
2.   x^ = 11.85 ounces 
3.   sigma = 0.5 ounces
4.   µ = 12 ounces per box

p = (x^ - µ) /(sigma / sqrt(n))

• Perform a test of significance and
summarize your results at alpha = 0.01.

In [ ]:
#for 2 sided z values

p_value = 2*pnorm(11.85, mean= 12, sd = 0.5/sqrt(100))
p_value

[1] 0.002699796

**p-value=0.0027 < 0.01 àReject H0**

• Conclusion: At this significance level, the sample provides enough
evidence to believe that mean amount of cereal the machines discharge is
different from 12 ounces per box

#------------------------------------------------------------------------------------------------------------------------------------------
# t- test

**When the population mean is not available use of sample mean**

• Acid rain from the burning of fossil fuels has caused many of
the lakes around the world to become acidic.
• A lake is classified as nonacidic if it has a pH greater than 6.
• This table shows the pH levels obtained by the researchers for
15 lakes.
• At the 5% significance level, do the data provide sufficient
evidence to conclude that, on average, high mountain lakes in
the Southern Alps are nonacidic?

Sample values for 15 lakes given

In [ ]:
d = c(7.2,7.3,6.1,6.9,6.6,7.3,6.3,5.5,6.3,6.5,5.7,6.9,6.7,7.9,5.8)

In [ ]:
t.test(d, alternative = "greater",mu=6)

	One Sample t-test

data:  d
t = 3.4586, df = 14, p-value = 0.001919
alternative hypothesis: true mean is greater than 6
95 percent confidence interval:
 6.294448      Inf
sample estimates:
mean of x
      6.6

At the 5%
significance level, the data provide
sufficient evidence to conclude
that, on average, high mountain
lakes in the Southern Alps are
nonacidic.

# Type 2 error probability

The probability of making a Type II error depends on:
**– the sample size,
– the significance level,
– the true value of the parameter under consideration**

The manufacturer of a new model
car, the Orion, claims that a typical
car gets 26 miles per gallon (mpg).
• A consumer advocacy group is
skeptical of this claim and thinks
that the mean gas mileage, μ, of all
Orions may be less than 26 mpg.
• The group plans to perform the
hypothesis test at the 5%
significance level, using a sample of
30 Orions.
• Assume population standard
deviation is 1.4


- H0:μ=26 mpg(manufacturer's claim)
- Ha:μ<26 mpg(consumer group's con
jecture).
- Find the probability of making a
Type II error if the true mean gas
mileage of all Orions is 25.8 mpg

- We don’t reject the null hypothesis if p-value > α=0.05.
- i.e. the area under the standard normal curve to the right
of the value of the test statistic is at least 1- 0.05, that is,
z>−z0.05

In [ ]:
critical_value = qnorm(0.05,mean = 26, sd = 1.4/sqrt(30),lower.tail = T)
critical_value

[1] 25.57957

In [ ]:
  pnorm(2.11)

[1] 0.9825708

In [43]:
pnorm(33,mean = 35, sd = 4/sqrt(38))

z = (0.1-1.10)/(0.15/sqrt(3))
z

[1] 0.001027359

[1] -11.54701

In [46]:
pnorm(z)
qnorm(3.829,mean = 0.1, sd = 0.15/sqrt(3),lower.tail = T)

[1] 3.821879e-31

Warning message in qnorm(3.829, mean = 0.1, sd = 0.15/sqrt(3), lower.tail = T):
“NaNs produced”

[1] NaN

In [ ]:
# to find Popolation mean MU
MU = sum(70,65,43,38,38,36)/6
MU
sigma = sum(38,36)/2
sigma

[1] 48.33333

[1] 37

In [42]:
pnorm(q=-1.63, mean = 0, sd = 1)

[1] 0.05155075

# Parameterrised T-test - 2 sample

In [20]:
data = read.csv("LungCapData.csv")

In [21]:
str(data)

'data.frame':	725 obs. of  6 variables:
 $ LungCap  : num  6.47 10.12 9.55 11.12 4.8 ...
 $ Age      : int  6 18 16 14 5 11 8 11 15 11 ...
 $ Height   : num  62.1 74.7 69.7 71 56.9 58.7 63.3 70.4 70.5 59.2 ...
 $ Smoke    : chr  "no" "yes" "no" "no" ...
 $ Gender   : chr  "male" "female" "female" "male" ...
 $ Caesarean: chr  "no" "no" "yes" "no" ...

In [22]:
head(data)

  LungCap Age Height Smoke Gender Caesarean
1  6.475   6  62.1   no    male   no
2 10.125  18  74.7   yes   female no
3  9.550  16  69.7   no    female yes
4 11.125  14  71.0   no    male   no
5  4.800   5  56.9   no    male   no
6  6.225  11  58.7   no    female no

In [23]:
summary(data)

    LungCap            Age            Height         Smoke
 Min.   : 0.507   Min.   : 3.00   Min.   :45.30   Length:725
 1st Qu.: 6.150   1st Qu.: 9.00   1st Qu.:59.90   Class :character
 Median : 8.000   Median :13.00   Median :65.40   Mode  :character
 Mean   : 7.863   Mean   :12.33   Mean   :64.84
 3rd Qu.: 9.800   3rd Qu.:15.00   3rd Qu.:70.30
 Max.   :14.675   Max.   :19.00   Max.   :81.80
    Gender           Caesarean
 Length:725         Length:725
 Class :character   Class :character
 Mode  :character   Mode  :character

In [31]:
#install.packages('ggplot2', dependencies = TRUE)
#library (ggplot2)
library(dplyr)

In [32]:
# t test Function
t.test(data$LungCap ~ data$Smoke, mu = 0, alternative = 'two.sided', conf.level = 0.95, var.equal = FALSE)

	Welch Two Sample t-test

data:  data$LungCap by data$Smoke
t = -3.6498, df = 117.72, p-value = 0.0003927
alternative hypothesis: true difference in means between group no and group yes is not equal to 0
95 percent confidence interval:
 -1.3501778 -0.4003548
sample estimates:
 mean in group no mean in group yes
         7.770188          8.645455

In [33]:

# to find variance among 2 samples sets
data %>%
  group_by(Smoke) %>%
  summarise(myVar = var(LungCap))

  Smoke myVar
1 no    7.431694
2 yes   3.545292

In [35]:
# Levene test to find the variance by P value way
install.packages("car")
library(car)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘minqa’, ‘nloptr’, ‘carData’, ‘abind’, ‘pbkrtest’, ‘lme4’


Loading required package: carData


Attaching package: ‘car’


The following object is masked from ‘package:dplyr’:

    recode

In [36]:
leveneTest(data$LungCap ~ data$Smoke)

Warning message in leveneTest.default(y = y, group = group, ...):
“group coerced to factor.”

      Df  F value  Pr(>F)
group   1 12.95523 0.0003408025
      723       NA           NA

The P value above is less that 0.05 meanse the H0 of same variance among sample set is rejected. This information is helpful setting the (var.equal = FALSE) parameter in t-test.

# Non - Paramterized test - Wilcoxon Rank-Sum test (Mann-Whitney test)

In [37]:
wilcox.test(data$LungCap ~ data$Smoke,conf.int = T)

	Wilcoxon rank sum test with continuity correction

data:  data$LungCap by data$Smoke
W = 20128, p-value = 0.005538
alternative hypothesis: true location shift is not equal to 0
95 percent confidence interval:
 -1.3999731 -0.2499419
sample estimates:
difference in location
            -0.8000564

P-value < 0.05, therefore at significance level 0.05 we reject the null
and conclude that the median of two groups are different.


# Chi-Square Test

In [38]:
#Get the Observed values
data %>%
  select(Gender, Smoke) %>%
  table()

        Smoke
Gender    no yes
  female 314  44
  male   334  33

In [39]:
(t = data%>%
  select(Gender, Smoke) %>%
  table() %>%
  chisq.test())

	Pearson's Chi-squared test with Yates' continuity correction

data:  .
X-squared = 1.7443, df = 1, p-value = 0.1866

In [40]:
t$expected

        Smoke
Gender   no       yes
  female 319.9779 38.02207
  male   328.0221 38.97793

P-values > 0.05. We won’t reject the null hypothesis and conclude that
gender and smoking are not associated at alpha = 0.05 level.