<a href="https://colab.research.google.com/github/VindaShinde/R-Projects/blob/main/SVD_Calculations_ways_in_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Discriptive way to fins SVM

In [37]:
A = matrix(c(4,8,11,7,14,-2),nrow=2)
A

     [,1] [,2] [,3]
[1,] 4    11   14
[2,] 8     7   -2

In [38]:
# Step 1 :  Find Covarience matrix ATrans*A
C = t(A)%*%A
print(A)

# Step 2: Eigen values for finding v-vectors
e = eigen(C)
e

# Step 3: Singular value - sqrt of eigen values
sigma = sqrt(round(e$values,3))
c('Single value', sigma)

# Step 4: Major/Minor axes- new axes
majorAxes = norm(A%*%e$vectors[,1],'2')
c('Major Axes =',majorAxes)

minorAxes = norm(A%*%e$vectors[,2],'2')
c('Minor Axes =',minorAxes)

     [,1] [,2] [,3]
[1,]    4   11   14
[2,]    8    7   -2

eigen() decomposition
$values
[1]  3.600000e+02  9.000000e+01 -6.064117e-15

$vectors
           [,1]       [,2]       [,3]
[1,] -0.3333333 -0.6666667  0.6666667
[2,] -0.6666667 -0.3333333 -0.6666667
[3,] -0.6666667  0.6666667  0.3333333

[1] "Single value"     "18.9736659610103" "9.48683298050514" "0"

[1] "Major Axes ="     "18.9736659610103"

[1] "Minor Axes ="     "9.48683298050514"

In [40]:
#Find A given A=U(sigma)Vtrans

# Step 1 - find V by eigen of A -> here 'e' is from A(trans)*A eigen vectors
V = e$vectors
V

# Step 2 - sigma is sqrt of eigen values but since A= 2X3, so U and V (should be squar matrix of 2X2 and 3X3 ), so sigma (will be 2X3)
sigma = matrix(c(sqrt(e$values[1]),0,0,sqrt(e$values[2]),0,0),nrow=2)
sigma

# Step 3 - U is (Av/sigma1) - since we want U of size 2X2 will calculate only u1 and u2 from v1 and v2
U = A%*%V[,1:2]%*%diag(1/sqrt(e$values[1:2]))
U

# Step 4 - Final (U(sigma)Vtrans))
A2 = U%*%sigma%*%t(V)
A2

     [,1]       [,2]       [,3]
[1,] -0.3333333 -0.6666667  0.6666667
[2,] -0.6666667 -0.3333333 -0.6666667
[3,] -0.6666667  0.6666667  0.3333333

     [,1]     [,2]     [,3]
[1,] 18.97367 0.000000 0
[2,]  0.00000 9.486833 0

     [,1]       [,2]
[1,] -0.9486833  0.3162278
[2,] -0.3162278 -0.9486833

     [,1] [,2] [,3]
[1,] 4    11   14
[2,] 8     7   -2

# R way of using SVD funtion

In [41]:
A = matrix(c(-18,2,-14,-2,13,19,11,21,-4,-4,-12,4,4,12,8,8),nrow = 4)
A

     [,1] [,2] [,3] [,4]
[1,] -18  13    -4   4
[2,]   2  19    -4  12
[3,] -14  11   -12   8
[4,]  -2  21     4   8

In [44]:
S=svd(A)
S

$d
[1] 4.000000e+01 2.000000e+01 1.000000e+01 2.162541e-15

$u
     [,1] [,2] [,3] [,4]
[1,] -0.5  0.5  0.5 -0.5
[2,] -0.5 -0.5 -0.5 -0.5
[3,] -0.5  0.5 -0.5  0.5
[4,] -0.5 -0.5  0.5  0.5

$v
     [,1] [,2] [,3] [,4]
[1,]  0.4 -0.8 -0.4  0.2
[2,] -0.8 -0.4  0.2  0.4
[3,]  0.2 -0.4  0.8 -0.4
[4,] -0.4 -0.2 -0.4 -0.8

In [46]:
S$u[,1:3]%*%diag(S$d[1:3])%*%t(S$v[,1:3])

     [,1] [,2] [,3] [,4]
[1,] -18  13    -4   4
[2,]   2  19    -4  12
[3,] -14  11   -12   8
[4,]  -2  21     4   8

By default R gets the lower number of matrix values not the economy version. So to get full version use nu with **svd(matrix,nu=number)** function

In [48]:
A1 = matrix(c(1,-2,2,-1,2,-2),nrow =3)
A1

     [,1] [,2]
[1,]  1   -1
[2,] -2    2
[3,]  2   -2

In [50]:
S1 = svd(A1)
S1 # since we have 3X2 matrix it returnes 2X2 U matrix

$d
[1] 4.242641 0.000000

$u
           [,1]      [,2]
[1,] -0.3333333 0.6666667
[2,]  0.6666667 0.6666667
[3,] -0.6666667 0.3333333

$v
           [,1]      [,2]
[1,] -0.7071068 0.7071068
[2,]  0.7071068 0.7071068

In [52]:
#For full versionon svd
S2 = svd(A1, nu=3)
S2

$d
[1] 4.242641 0.000000

$u
           [,1]      [,2]       [,3]
[1,] -0.3333333 0.6666667 -0.6666667
[2,]  0.6666667 0.6666667  0.3333333
[3,] -0.6666667 0.3333333  0.6666667

$v
           [,1]      [,2]
[1,] -0.7071068 0.7071068
[2,]  0.7071068 0.7071068

# Find the A and A2 and error 
Use the first 2 singular values of A to find approximation for A. Determin error between A and A2.

In [57]:
A_ = matrix(c(16,5,9,4,2,11,7,14,3,10,6,15,13,8,12,1),nrow=4)
A_
#B_ = magic(4)

     [,1] [,2] [,3] [,4]
[1,] 16    2    3   13
[2,]  5   11   10    8
[3,]  9    7    6   12
[4,]  4   14   15    1

ERROR: ignored

In [58]:
S_ = svd(A_)
S_

$d
[1] 3.400000e+01 1.788854e+01 4.472136e+00 4.172807e-16

$u
     [,1]       [,2] [,3]       [,4]
[1,] -0.5  0.6708204  0.5 -0.2236068
[2,] -0.5 -0.2236068 -0.5 -0.6708204
[3,] -0.5  0.2236068 -0.5  0.6708204
[4,] -0.5 -0.6708204  0.5  0.2236068

$v
     [,1] [,2]       [,3]       [,4]
[1,] -0.5  0.5  0.6708204  0.2236068
[2,] -0.5 -0.5 -0.2236068  0.6708204
[3,] -0.5 -0.5  0.2236068 -0.6708204
[4,] -0.5  0.5 -0.6708204 -0.2236068

In [67]:
# TO take only first 2 singular values....
Aprox_A = S_$u[,1:2]%*%diag(S_$d[1:2])%*%t(S_$v[,1:2])
Aprox_A

     [,1] [,2] [,3] [,4]
[1,] 14.5  2.5  2.5 14.5
[2,]  6.5 10.5 10.5  6.5
[3,] 10.5  6.5  6.5 10.5
[4,]  2.5 14.5 14.5  2.5

In [68]:
# The error that we are commiting by ignoring the rest of the singular values is k-1 (i.e. the eigen value 3rd after 2nd)
rootSSE = norm(A_-Aprox_A,'2')
rootSSE

[1] 4.472136